<section class="vh-100 ubuntu-font">
  <div class="mask d-flex align-items-center h-100 gradient-custom-3">
    <div class="container">
      <div
        class="row d-flex justify-content-center align-items-center h-100 p-5"
      >
        <div class="col-12 col-md-9 col-lg-7 col-xl-6">
          <div class="card shadow" style="border-radius: 15px">
            <div class="card-body">
              <h2 class="text-uppercase text-center mb-2">Giriş Yap</h2>

              <form class="login-form" (submit)="onFormSubmit($event)">
                <dx-form id="form" [(formData)]="formData">
                  <dxi-item
                    dataField="UserEmail"
                    editorType="dxTextBox"
                    [editorOptions]="{
                      stylingMode: 'filled',
                      placeholder: 'E-Posta',
                      mode: 'email',
                      elementAttr: { class: 'mt-4' }
                    }"
                  >
                    <dxi-validation-rule
                      type="required"
                      message="E-Posta alanı zorunludur."
                    ></dxi-validation-rule>
                    <dxi-validation-rule
                      type="email"
                      message="Girilen e-posta adresi geçersiz."
                    ></dxi-validation-rule>
                    <dxo-label [visible]="false"></dxo-label>
                  </dxi-item>

                  <dxi-item
                    dataField="UserPassword"
                    editorType="dxTextBox"
                    [editorOptions]="{
                      stylingMode: 'filled',
                      placeholder: 'Şifre',
                      mode: 'password',
                      elementAttr: { class: 'mt-4' }
                    }"
                  >
                    <dxi-validation-rule
                      type="required"
                      message="Girilen şifre geçersiz."
                    ></dxi-validation-rule>
                    <dxo-label [visible]="false"></dxo-label>
                  </dxi-item>

                  <dxi-item
                    dataField="rememberMe"
                    editorType="dxCheckBox"
                    [editorOptions]="{
                      text: 'Beni Hatırla',
                      elementAttr: { class: 'form-text mt-4' }
                    }"
                  >
                    <dxo-label [visible]="false"></dxo-label>
                  </dxi-item>

                  <dxi-item
                    itemType="button"
                    horizontalAlignment="center"
                    [buttonOptions]="saveButtonOptions"
                  >
                    <dxo-button-options
                      text="Giriş Yap"
                      width="40%"
                      useSubmitBehavior="true"
                      stylingMode="outlined"
                      class="btn btn-block btn-lg text-body button-border justify-content-center mt-4"
                      onClick=""
                    >
                    </dxo-button-options>
                  </dxi-item>
                  <dxi-item>
                    <div class="link">
                      <a routerLink="/reset-password">Şifremi unuttum?</a>
                    </div>
                  </dxi-item>
                </dx-form>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
