<app-navbar></app-navbar>
<div class="container border" style="margin-top: 10rem; border-radius: 1rem">
  <dx-data-grid [dataSource]="dataSource" [height]="600">
    <dxo-scrolling mode="virtual"></dxo-scrolling>

    <dxi-column dataField="Post_Id" [visible]="false"> </dxi-column>

    <dxi-column dataField="User_Id" [visible]="false"> </dxi-column>

    <dxi-column dataField="City_Id" [visible]="false"> </dxi-column>

    <dxi-column dataField="City.City_Name" caption="Şehir" dataType="string">
    </dxi-column>

    <dxi-column dataField="Post_Plate" dataType="string"> </dxi-column>

    <dxi-column dataField="Post_Title" dataType="string"> </dxi-column>

    <dxi-column dataField="Post_Description"> </dxi-column>

    <dxi-column
      dataField="ShipVia"
      caption="Shipping Company"
      dataType="number"
    >
      <dxo-lookup
        [dataSource]="shippersData"
        valueExpr="Value"
        displayExpr="Text"
      ></dxo-lookup>
    </dxi-column>

    <div *dxTemplate="let order of 'detail'">
      <!-- <detail-grid [key]="order.key"></detail-grid> -->
    </div>
    <dxo-summary>
      <dxi-total-item column="Freight" summaryType="sum">
        <dxo-value-format type="decimal" [precision]="2"></dxo-value-format>
      </dxi-total-item>
      <dxi-group-item column="Freight" summaryType="sum">
        <dxo-value-format type="decimal" [precision]="2"></dxo-value-format>
      </dxi-group-item>
      <dxi-group-item summaryType="count"> </dxi-group-item>
    </dxo-summary>
  </dx-data-grid>
</div>
