<app-navbar></app-navbar>
<div
  *ngIf="dataLoaded"
  class="container border"
  style="margin-top: 10rem; border-radius: 1rem"
>
  <dx-data-grid
    id="gridContainer"
    #dataGrid
    [dataSource]="postDataSource"
    keyExpr="post_Id"
  >
    <dxo-search-panel
      [visible]="true"
      [placeholder]="'Ara...'"
    ></dxo-search-panel>

    <dxo-scrolling mode="virtual"></dxo-scrolling>

    <dxo-filter-row [visible]="true"></dxo-filter-row>

    <dxo-paging [pageSize]="100"></dxo-paging>

    <dxo-pager
      [visible]="true"
      [allowedPageSizes]="[100, 150, 200, 250, 300]"
      [displayMode]="'full'"
      [showPageSizeSelector]="true"
      [showInfo]="true"
      [showNavigationButtons]="true"
    >
    </dxo-pager>

    <dxi-column dataField="post_Id" [visible]="false"> </dxi-column>

    <dxi-column dataField="user_Id" [visible]="false"> </dxi-column>

    <dxi-column dataField="city_Id" [visible]="false"> </dxi-column>

    <dxi-column dataField="city.city_Name" caption="Şehir" dataType="string">
    </dxi-column>

    <dxi-column dataField="post_Plate" dataType="string" caption="Plaka">
    </dxi-column>

    <dxi-column dataField="post_Title" dataType="string" caption="Başlık">
    </dxi-column>

    <dxi-column dataField="post_Description" caption="Açıklama"> </dxi-column>

    <dxi-column type="buttons" caption="İncele" alignment="left" width="60">
      <dxi-button
        text="İncele"
        hint="İncele"
        icon="search"
        [onClick]="detailClick"
      >
      </dxi-button>
    </dxi-column>
  </dx-data-grid>
</div>
