<section class="ubuntu-font mt-5">
  <div class="">
    <div class="row justify-content-left">
      <div class="col-12 col-md-9 col-lg-7 col-xl-6">
        <div class="card shadow" style="border-radius: 15px">
          <div class="card-body">
            <h2 class="text-uppercase text-center mb-2">Bilgiler</h2>

            <form class="create-account-form" (submit)="onFormSubmit($event)">
              <dx-form id="form" [(formData)]="formData">
                <dxi-item
                  dataField="user_Id"
                  editorType="dxNumberBox"
                  [visible]="false"
                ></dxi-item>

                <dxi-item
                  dataField="user_Name"
                  editorType="dxTextBox"
                  [editorOptions]="{
                    stylingMode: 'filled',
                    mode: 'text',
                    elementAttr: { class: 'mt-4' }
                  }"
                >
                  <dxo-label [visible]="true" text="Kullanıcı Adı"></dxo-label>
                </dxi-item>

                <dxi-item
                  dataField="user_UserName"
                  editorType="dxTextBox"
                  [editorOptions]="{
                    stylingMode: 'filled',
                    mode: 'text',
                    elementAttr: { class: 'mt-4' }
                  }"
                >
                  <dxi-validation-rule
                    type="required"
                    message="Adınız alanı zorunludur."
                  ></dxi-validation-rule>
                  <dxo-label [visible]="true" text="Adınız"></dxo-label>
                </dxi-item>

                <dxi-item
                  dataField="user_Email"
                  editorType="dxTextBox"
                  [editorOptions]="{
                    stylingMode: 'filled',
                    mode: 'email',
                    elementAttr: { class: 'mt-4' }
                  }"
                >
                  <dxi-validation-rule
                    type="required"
                    message="E-Posta alanı zorunludur."
                  ></dxi-validation-rule>
                  <dxi-validation-rule
                    type="email"
                    message="Geçersiz E-Posta formatı."
                  ></dxi-validation-rule>
                  <dxo-label [visible]="true" text="E-Posta"></dxo-label>
                </dxi-item>

                <dxi-item
                  dataField="user_Password"
                  editorType="dxTextBox"
                  value="123456"
                  [editorOptions]="{
                    stylingMode: 'filled',
                    mode: 'password',
                    elementAttr: { class: 'mt-4' }
                  }"
                >
                  <dxo-label [visible]="true" text="Şifre"></dxo-label>
                </dxi-item>

                <dxi-item
                  dataField="user_PasswordHash"
                  editorType="dxTextBox"
                  disabled="true"
                  [visible]="false"
                >
                </dxi-item>

                <dxi-item
                  dataField="user_PasswordSalt"
                  editorType="dxTextBox"
                  disabled="true"
                  [visible]="false"
                >
                </dxi-item>

                <dxi-item
                  dataField="user_Ip"
                  editorType="dxTextBox"
                  disabled="true"
                  [visible]="false"
                >
                </dxi-item>

                <dxi-item
                  dataField="user_Anonymous"
                  editorType="dxTextBox"
                  disabled="true"
                  [visible]="false"
                >
                </dxi-item>

                <dxi-item
                  dataField="user_CreatedDate"
                  editorType="dxTextBox"
                  disabled="true"
                  [visible]="false"
                >
                </dxi-item>

                <dxi-item
                  dataField="user_IsActive"
                  editorType="dxTextBox"
                  disabled="true"
                  [visible]="false"
                >
                </dxi-item>

                <dxi-item
                  itemType="button"
                  horizontalAlignment="center"
                  [buttonOptions]="saveButtonOptions"
                >
                  <dxo-button-options
                    text="Güncelle"
                    width="40%"
                    useSubmitBehavior="true"
                    stylingMode="outlined"
                    class="btn btn-block btn-lg text-body button-border justify-content-center mt-4"
                    onClick=""
                  >
                  </dxo-button-options>
                </dxi-item>
              </dx-form>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
