<div class="content" *ngIf="dataLoaded">
  <div class="table-responsive mx-4">
    <h2 class="mb-5 mt-4 text-light">#Son {{ dataCount }} Gönderi</h2>

    <div class="table-responsive">
      <table class="table table-striped custom-table">
        <thead>
          <tr>
            <th scope="col">Tarih</th>
            <th scope="col">Şehir</th>
            <th scope="col">Plaka</th>
            <th scope="col">Puan</th>
            <th scope="col">Açıklama</th>
            <th scope="col"></th>
          </tr>
        </thead>

        <tbody>
          <tr *ngFor="let post of posts" scope="row">
            <td>{{ post.post_CreatedDate | date: "dd/MM/yyyy" }}</td>

            <td>{{ post.city.city_Name }}</td>

            <td>{{ post.post_Plate }}</td>

            <td>
              <div *ngIf="post.post_Stars === 1">
                <i class="star" class="fas fa-star more-star"></i>
              </div>

              <div *ngIf="post.post_Stars === 2">
                <i class="star" class="fas fa-star more-star"></i>
                <i class="star" class="fas fa-star more-star"></i>
              </div>

              <div *ngIf="post.post_Stars === 3">
                <i class="star" class="fas fa-star more-star"></i>
                <i class="star" class="fas fa-star more-star"></i>
                <i class="star" class="fas fa-star more-star"></i>
              </div>

              <div *ngIf="post.post_Stars === 4">
                <i class="star" class="fas fa-star more-star"></i>
                <i class="star" class="fas fa-star more-star"></i>
                <i class="star" class="fas fa-star more-star"></i>
                <i class="star" class="fas fa-star more-star"></i>
              </div>

              <div *ngIf="post.post_Stars === 5">
                <i class="star" class="fas fa-star more-star"></i>
                <i class="star" class="fas fa-star more-star"></i>
                <i class="star" class="fas fa-star more-star"></i>
                <i class="star" class="fas fa-star more-star"></i>
                <i class="star" class="fas fa-star more-star"></i>
              </div>
            </td>

            <td>
              {{ post.post_Title }}
              <small class="d-block"
                >{{ post.post_Description | slice: 0:41 }}...</small
              >
            </td>

            <td>
              <a (click)="showDetailPost(post)" role="button" class="more"
                >İncele</a
              >
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
