.media-body p {
  color: #777;
  font-size: 0.875em;
  line-height: 1.9em;
  margin-bottom: 5em;
}

.media img {
  margin-right: 15px;
}

.media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.media-body {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
