::ng-deep .ubuntu-font {
  font-family: "Ubuntu", sans-serif !important;
  font-weight: 500;
}

::ng-deep .active {
  font-family: "Ubuntu", sans-serif !important;
  font-weight: 1500;
}

::ng-deep .ml-auto {
  margin-left: auto !important;
}

::ng-deep a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

::ng-deep a {
  color: #0366d6;
}

::ng-deep .btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

::ng-deep .nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

::ng-deep .border-navbar {
  border: 1px solid #212529 !important;
  border-radius: 20px;
  margin-left: 10px;
}

::ng-deep .border-navbar a {
  border-radius: 20px;
  transition: all 0.7s;
  -webkit-transition: all 0.7s;
  -moz-transition: all 0.7s;
  font-family: "Ubuntu", sans-serif !important;
}

::ng-deep .border-navbar a:hover {
  border-radius: 20px;
  background-color: #212529 !important;
  color: #f8f9fa !important;
}

/* Sticky footer styles#f8f9fa;
  -------------------------------------------------- */
::ng-deep html {
  font-size: 14px;
}

@media (min-width: 768px) {
  ::ng-deep html {
    font-size: 16px;
  }
}

::ng-deep .border-top {
  border-top: 1px solid #e5e5e5;
}

::ng-deep .border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

::ng-deep .box-shadow {
  box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.05);
}

::ng-deep button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
  -------------------------------------------------- */
::ng-deep html {
  position: relative;
  min-height: 100%;
}

::ng-deep body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}

::ng-deep .footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}

::ng-deep .gradient-border {
  --border-width: 3px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Lato, sans-serif;
  color: white;
  background: #fff;
  border-radius: 20px;
}

::ng-deep .gradient-border::after {
  position: absolute;
  content: "";
  top: calc(-1 * var(--border-width));
  left: calc(-1 * var(--border-width));
  z-index: -1;
  width: calc(100% + var(--border-width) * 2);
  height: calc(100% + var(--border-width) * 2);
  background: linear-gradient(
    60deg,
    #5f86f2,
    #a65ff2,
    #f25fd0,
    #f25f61,
    #f2cb5f,
    #abf25f,
    #5ff281,
    #5ff2f0
  );
  background-size: 300% 300%;
  background-position: 0 50%;
  border-radius: 20px;
  animation: moveGradient 4s alternate infinite;
}

::ng-deep .cursor-pointer {
  cursor: pointer;
}

@keyframes moveGradient {
  50% {
    background-position: 100% 50%;
  }
}
