<app-navbar></app-navbar>
<section class="banner-bottom" style="margin-top: 100px" *ngIf="dataLoaded">
  <div class="container">
    <div class="row">
      <div
        class="col-lg-10 mx-auto left-blog-info-w3layouts-agileits text-left"
      >
        <div class="blog-grid-top">
          <div class="b-grid-top">
            <div class="blog_info_left_grid">
              <img
                src="../../../../assets/img/taxi.png"
                class="img-fluid blured-img"
                alt=""
              />
            </div>
            <div class="blog-info-middle text-white">
              <ul>
                <li>
                  <i class="far fa-calendar-alt"></i>
                  {{ post.post_CreatedDate | date: "MM/dd/yyyy" }}
                </li>
                <li class="mx-3 text-white">
                  <a role="button" (click)="updatePostLikeCount()">
                    <i class="far fa-thumbs-up"></i>
                    {{ post.post_LikeCount }} Beğeni</a
                  >
                </li>
                <li>
                  <i class="far fa-comment"></i>
                  {{ post.comments.length }} Yorum
                </li>
              </ul>
            </div>
          </div>

          <h3>{{ post.post_Title }}</h3>
          <p>
            {{ post.post_Description }}
          </p>
          <p class="mt-5 mb-0" *ngIf="post.user">
            <span class="font-weight-bold text-black">Yazar :</span
            >{{ post.user.user_Name }}
          </p>
        </div>
        <div class="comment-top">
          <h4>Yorumlar ({{ post.comments.length }})</h4>
          <div class="media">
            <div *ngFor="let comment of post.comments" class="row mb-3">
              <div class="col-md-1">
                <img
                  src="../../../../assets/img/user.png"
                  width="80"
                  height="80"
                  alt=""
                  class="img-fluid"
                />
              </div>
              <div class="col-md-10">
                <div class="media-body">
                  <div>
                    <h5 class="mt-3">{{ comment.user?.user_Name }}</h5>
                    <p>
                      {{ comment.comment_Description }}
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="comment-top">
          <h4>Yorum Yap</h4>
          <div class="comment-bottom">
            <form class="login-form" (submit)="onFormSubmit($event)">
              <dx-form id="form" [(formData)]="formData">
                <dxi-item
                  dataField="comment_Description"
                  editorType="dxTextArea"
                  [editorOptions]="{ height: 120 }"
                  ><dxo-label [visible]="false" text="Yorumunuz"></dxo-label
                ></dxi-item>

                <dxi-item
                  itemType="button"
                  horizontalAlignment="center"
                  [buttonOptions]="saveButtonOptions"
                >
                </dxi-item>
              </dx-form>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
